


.listItem {
	overflow: hidden;
	z-index: 1;
	transition: all .3s, transform .1s;
}

.listItem .statusHolder {
	/*opacity: .6;*/
	box-shadow: -5px 0 30px 20px #eee;
}

.listItem.selected {
	box-shadow: -5px 0 30px 20px rgba(0, 0, 0, .05);
	z-index: 0;
}


.listItem .positionIndicator {
	background-size: 0% auto;
	
	transition: color .3s, background-size .2s, background;
}

.listItem.selected .positionIndicator {
	background: #05a;
	background-image: url("../images/screenIcon.png"); 
	background-size: 60% auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	color: transparent !important;
}








.questionListHolder {
	position: absolute;
	margin: 2.5%;
	margin-top: 0;
	width: 45%;
	max-height: 40%;

	overflow: auto;
}






.infoBar {
	margin: 1% 2.5%;
	height: 50px;
	width: 95%;
}

	.infoBar .infoHalf {
		position: relative;
		float: left;
		width: 47.5%;
	}

	.infoBar .infoHalf.leftHalf .text {
		float: left;
	}



	.infoBar .infoHalf:not(.leftHalf) {
		margin-left: 5%;
	}












#displayerFrame {
	position: absolute;
	left: -22.5vw;

	top: 25vh;
	margin: 2.5%;
	width: 90vw;
	height: 90vh;
	transform: scale(.5);

	border: none;
	border-radius: 10px;
}










.teamListHolder {
	position: absolute;
	float: right;
	right: 0;
	margin: 2.5%;
	margin-top: 0;
	width: 45%;
}



.teamListHolder .listItem .statusHolder .scoreEditingInput {
	position: relative;
	left: 0;
	top: 0;
	width: 50px;

	background: none;
	border: none;

	color: #fff;
	text-align: center;
	pointer-events: none;
}

.teamListHolder .listItem .statusHolder.scoreUp {
	background: rgba(0, 200, 0, .5) !important;
}
.teamListHolder .listItem .statusHolder.scoreDown {
	background: rgba(255, 0, 0, .5) !important;
}








