


.listItem .statusHolder {
	/*opacity: .6;*/
	box-shadow: -5px 0 30px 20px #eee;
}



.questionListHolder {
	position: absolute;
	margin: 2.5%;
	width: 45%;
}



.teamListHolder {
	position: absolute;
	float: right;
	right: 0;
	margin: 2.5%;
	width: 45%;
}

#displayerFrame {
	position: absolute;
	left: 0;
	top: 50vh;
	margin: 2.5%;
	width: 45%;
	height: 45vh;
	border: none;
}