html {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	position: fixed;
	width: 100vw;
	height: 100vh;
	/*background: #eee;*/
	background: linear-gradient(to bottom right, #fff, #000);
}

body {
	position: fixed;
	top: 0;
	left: 0;

	margin: 0;

	width: 100vw;
	height: 100vh;
	opacity: .9;
	background: #eee;
	transition: all .3s;
}





#topBar, #bottomBar, #mainContentHolder {
	position: fixed;
	left: 0;
	width: calc(100vw - 2 * 10px);
	padding: 10px;
}

#topBar, #bottomBar {
	height: 30px;
}



#topBar {
	top: 0;
	background: #739aff;
	box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, .05);
}

#bottomBar {
	bottom: 0;
	padding-bottom: 30px;
	transition: all .3s;
}

#bottomBar .centerAligner {
	float: bottom;
	bottom: 0;
	opacity: 1;
}
#bottomBar .centerAligner.hide {
	bottom: -50px;
	opacity: 0;
	pointer-events: none;
}


.centerAligner {
	position: relative;
	margin: auto;
	
	width: auto;
	max-width: 1000px;
	height: 100%;

	transition: all .3s;
}








#mainContentHolder {
	height: 100vh;
	text-align: center;
	overflow: auto;
}


#mainContentHolder .contentPage {
	position: absolute;
	left: 0;
	top: 0;

	width: 100vw;
	height: 100vh;
	transition: all .3s;
	overflow: show;
	max-height: 1000vh;
}

#mainContentHolder .contentPage.hide {
	opacity: 0;
	transform: scale(.5);
	max-height: 100vh;
}




















.button {
	position: relative;
	width: auto;
	padding: 7px 15px !important;

	border-radius: 30px;
	font-size: 13px;
	text-align: center;
}
	.button.bBoxy {
		border-radius: 4px;	
	}

	.button.bDefault {
		/*background: #7592BF !important;*/
		background: rgb(140, 153, 247) !important;
		color: #fff !important;
	}
	.button.bWarn {
		background: #ff632c !important;
		color: #fff !important;
	}

.clickable {cursor: pointer;}




.inputField {
	position: relative;
	left: 0;
	padding: 7px 3px;
	height: 32px;
	border-radius: 30px;
	background: transparent;

	border: 2px solid #f3f3f3;
	outline: none;

	transition: all .3s;
}
	.inputField.invalid {
		border: 2px solid rgba(255, 0, 0, .5);
		color: #f00;
		background: rgba(255, 0, 0, .1);
	}
	.inputField.iBoxy {
		border-radius: 3px;
	}




.text {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #999;
	font-size: 15px;
}


.text.header {
	font-family: Verdana, Geneva, sans-serif;
	color: #888;
	font-size: 14px;
	font-weight: bolder !important;
}
















.listItem {
	position: relative;
	/*margin-bottom: 10px;*/
	
	width: calc(100% - 5px * 2);
	height: 30px;

	padding: 12px 5px;

	text-align: left;
	border-radius: 5px;
}

	.listItem .positionIndicator {
		position: relative;
		float: left;

		height: 25px;
		width: 25px;
		
		background-size: 30% auto;
		background-position: 50% 10%;
		background-repeat: no-repeat;


		padding: 5px;
		top: -2.5px;
		margin: 0 10px;
		background: rgba(0, 0, 0, .8);
		border-radius: 5px;

		text-align: center;
		line-height: 25px;
	}



	.listItem .titleHolder {
		position: relative;
		float: left;
		width: calc(100% - 70px - 60px);

		height: 20px;

		line-height: 30px;
	}


	.listItem .statusHolder {
		position: absolute;
		float: right;
		right: 20px;
		
		width: auto;
		min-width: 40px;
		height: 30px;

		padding: 0 8px;

		display: inline-block;

		font-size: 16px !important;
		line-height: 30px;
		text-align: center;

		color: #fff;

		background: rgba(0, 0, 0, .4);
		border-radius: 5px;
	}



	.listItem .lineHolder {
		position: absolute;
		
		top: calc(30px + 12px + 10px);

		left: 60px;
		width: calc(100% - 40px - 20px * 2);
		height: 2px;

		background: #eee;
	}

	.listItem:last-child .lineHolder {
		display: none;
	}

	.scoreListHolder .listItem .text {
		font-size: 16px !important;
		font-weight: bolder;
	}

